#main {
  display: flex;
  flex-direction: column;
}

#header {
  background-color: bisque;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 3;
}

#title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  margin-left: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.nav-child {
  padding: 10px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: transform 250ms;
}

.nav-child:hover {
  transform: translateY(10px);
}

a {
  text-decoration: none;
  color: black;
}

#welcome-section {
  background-color: #303841;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#profile-title {
  margin-top: 50px;
  margin-bottom: 0px;
  color: wheat;
}

#profile-quote {
  margin-top: 5px;
  margin-bottom: 50px;
  color: orangered;
  font-size: medium;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio-title {
  margin-top: 50px;
  color: bisque;
  text-decoration: underline;
}

#portfolio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid bisque;
  background-color: #303841;
}

.img-port {
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
}

.img-container {
  margin-top: 25px;
  margin-bottom: 25px;
  transition: transform 250ms;
}

.img-container:hover {
  transform: translateY(-10px);
  z-index: 1;
}

figcaption {
  text-align: center;
  margin-top: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: bisque;

  padding: 10px;
  width: 100%;
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 10%;
  margin-bottom: 50px;
}

#projects {
  background-color: #45567d;
}

#contact {
  background-color: #303841;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

#contact-title {
  color: antiquewhite;
  font-size: xx-large;
  margin-bottom: 0px;
}
#quote {
  color: antiquewhite;
  font-size: 15px;
  font-style: italic;
  margin-top: 1px;
}

.icon-container {
  size: 56;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: mintcream;
  size: 56;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  transition: transform 250ms;
}

.social-media:hover {
  transform: translateY(-10px);
}

.label {
  color: antiquewhite;
}

#footer {
  background-color: #45567d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: burlywood;
  font-style: italic;
}

.child {
  margin-left: 25px;
}

.right-side {
  margin-right: 25px;
}

/*media queries*/

@media screen and (max-width: 500px) {
  #title {
    font-size: 20px;
  }

  #contact-title {
    font-size: xx-large;
  }

  #quote {
    font-size: 10px;
    font-weight: normal;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .social-media,
  .icon,
  .label {
    margin: 3px;
  }

  #footer {
    align-items: center;
    justify-content: space-between;
  }

  .left-side,
  .right-side {
    font-size: 10px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .child {
    margin: 1px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .img-port {
    width: 280px;
    margin: auto;
    margin-bottom: 0px;
  }

  #portfolio {
    display: flex;
    flex-direction: column;
  }
}
