#main {
  display: flex;
  flex-direction: column;
}

#header {
  background-color: aqua;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

#title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  margin-left: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.nav-child {
  padding: 10px;
  font-size: medium;
}

#welcome-section {
  background-color: bisque;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#profile-title {
  margin-top: 50px;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio {
  display: flex;
}

.img-port {
  width: 40%;
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 10%;
  margin-bottom: 50px;
}

#projects {
  background-color: blueviolet;
}

#contact {
  background-color: chocolate;
}

#footer {
  background-color: crimson;
}
